django
wakeonlan
crispy-bootstrap4
paramiko
ping3
ms_identity_python[django] @ git+https://github.com/azure-samples/ms-identity-python@0.8
msal==1.28.0
identity==0.8.1
gunicorn 
psycopg2-binary
python-dotenv
django-auth-adfs